header .navbar-brand {
  width: 10rem;
}
header .navbar-brand .logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .navbar-toggler {
  border: none;
}
header .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar-toggler .fa-bars {
  font-size: 25px;
}
header .navbar-nav {
  font-size: 1.2rem;
  gap: 1.1rem;
}
header .navbar-nav .nav-item .nav-link {
  color: #fff;
}
header .navbar-nav .dropdown .dropdown-menu {
  background-color: #181818;
}
header .navbar-nav .dropdown .dropdown-menu li a {
  color: #fff;
}
header .navbar-nav .dropdown .dropdown-menu li a:hover {
  background-color: #f5f5f5;
  color: #181818;
}
header form {
  padding-right: 1rem;
}
header form .form-control:focus {
  box-shadow: none;
  border: none;
}
header .shoppingcar {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
header .shoppingcar .fa-cart-shopping {
  font-size: 22px;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.conteiner-tittle {
  background-color: #f5f5f5;
  padding: 0.5rem 0;
  width: 100%;
}
.conteiner-tittle .tittle-box-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
  padding: 1rem 0;
  overflow: auto;
}
.conteiner-tittle .tittle-box-info .tittle {
  font-size: 35px;
  padding: 1rem;
}
.conteiner-tittle .tittle-box-info p .tittle-catalogo {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.conteiner-tittle .tittle-box-info p .tittle-catalogo:hover {
  border-radius: 20px;
  background-color: #181818;
  color: #fff;
  padding: 0.8rem;
}
@media screen and (max-width: 860px) {
  .conteiner-tittle .conteiner-tittle {
    padding-bottom: 0;
  }
  .conteiner-tittle .tittle-box-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
  }
  .conteiner-tittle .tittle-catalogo {
    display: none;
  }
  .conteiner-tittle .tittle {
    font-size: 2rem;
  }
}

main #all-products .col-10 #products #products-card .circule-peach, main #all-products .col-10 #products #products-card .circule-w, main #all-products .col-10 #products #products-card .circule-sb, main #all-products .col-10 #products #products-card .circule-s, main #all-products .col-10 #products #products-card .circule-blue, main #all-products .col-10 #products #products-card .circule-grey, main #all-products .col-10 #products #products-card .circule-c, main #all-products .col-10 #products #products-card .circule-g, main #all-products .col-10 #products #products-card .circule-y, main #all-products .col-10 #products #products-card .circule-p, main #all-products .col-10 #products #products-card .circule-b, .products #row-index #products-card .circule-peach, .products #row-index #products-card .circule-w, .products #row-index #products-card .circule-sb, .products #row-index #products-card .circule-s, .products #row-index #products-card .circule-blue, .products #row-index #products-card .circule-grey, .products #row-index #products-card .circule-c, .products #row-index #products-card .circule-g, .products #row-index #products-card .circule-y, .products #row-index #products-card .circule-p, .products #row-index #products-card .circule-b {
  padding: 0.8rem;
  margin: 0 0.2rem;
  border: 1px solid grey;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 5px 2px #D8D9CF;
}
main #all-products .col-10 #products #products-card .circule-peach:hover, main #all-products .col-10 #products #products-card .circule-w:hover, main #all-products .col-10 #products #products-card .circule-sb:hover, main #all-products .col-10 #products #products-card .circule-s:hover, main #all-products .col-10 #products #products-card .circule-blue:hover, main #all-products .col-10 #products #products-card .circule-grey:hover, main #all-products .col-10 #products #products-card .circule-c:hover, main #all-products .col-10 #products #products-card .circule-g:hover, main #all-products .col-10 #products #products-card .circule-y:hover, main #all-products .col-10 #products #products-card .circule-p:hover, main #all-products .col-10 #products #products-card .circule-b:hover, .products #row-index #products-card .circule-peach:hover, .products #row-index #products-card .circule-w:hover, .products #row-index #products-card .circule-sb:hover, .products #row-index #products-card .circule-s:hover, .products #row-index #products-card .circule-blue:hover, .products #row-index #products-card .circule-grey:hover, .products #row-index #products-card .circule-c:hover, .products #row-index #products-card .circule-g:hover, .products #row-index #products-card .circule-y:hover, .products #row-index #products-card .circule-p:hover, .products #row-index #products-card .circule-b:hover {
  box-shadow: 0.5px 0.5px 5px 2px black;
}

.products {
  background-color: #f5f5f5;
  width: 100%;
  overflow: auto;
}
.products #row-index {
  padding: 1rem 1rem 2rem 1rem;
  gap: 1.5rem;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.products #row-index #products-card {
  border-radius: 0.6rem;
  width: 19rem;
  padding: 0.6rem 0;
  background-color: #FFFDF9;
  box-shadow: 1px 1px 4px 2px #D8D8D8;
  transition: all 400ms ease;
  display: grid;
  justify-content: center;
}
.products #row-index #products-card:hover {
  box-shadow: 4px 4px 5px 4px #aaadaf;
  transform: translateY(-3px);
}
.products #row-index #products-card .box-img-product {
  margin: 0;
  width: 15rem;
  max-height: 15.4rem;
  max-width: 15rem;
}
.products #row-index #products-card .box-img-product .productimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products #row-index #products-card .name {
  display: flex;
  padding: 0;
  font-size: 1.563rem;
}
.products #row-index #products-card .memory {
  display: flex;
  padding: 0.3rem 0;
  font-size: 1.3rem;
}
.products #row-index #products-card .price {
  display: flex;
  padding: 0.28rem 0;
  font-size: 1.563rem;
  color: #B22727;
}
.products #row-index #products-card .circule-b {
  background-color: #252525;
}
.products #row-index #products-card .circule-p {
  background-color: #FEC8D8;
}
.products #row-index #products-card .circule-y {
  background-color: #F5EA5A;
}
.products #row-index #products-card .circule-g {
  background-color: #3C6255;
}
.products #row-index #products-card .circule-c {
  background-color: #F8EAD8;
}
.products #row-index #products-card .circule-grey {
  background-color: #434242;
}
.products #row-index #products-card .circule-blue {
  background-color: #394867;
}
.products #row-index #products-card .circule-s {
  background-color: #EEEEEE;
}
.products #row-index #products-card .circule-sb {
  background-color: #ECF2FF;
}
.products #row-index #products-card .circule-w {
  background-color: #fff;
}
.products #row-index #products-card .circule-peach {
  background-color: #FFD3B0;
}
.products #row-index #products-card .conteiner-button {
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
}
.products #row-index #products-card .conteiner-button .buy {
  padding: 0.6rem 0.9rem;
  border: 1px solid black;
  border-radius: 0.6rem;
  color: black;
  font-size: 1rem;
  background-color: white;
}
.products #row-index #products-card .conteiner-button .buy:hover {
  background-color: black;
  color: white;
}

#footer {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(225, 225, 225, 0.3);
}
@media screen and (max-width: 860px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1rem;
    justify-items: center;
  }
}
#footer .social-networks {
  display: flex;
  align-items: center;
}
#footer .social-networks .fa-instagram {
  font-size: 2.1rem;
  color: #fff;
  padding-left: 30px;
}
#footer .social-networks .fa-facebook {
  font-size: 2.1rem;
  color: #fff;
  padding-left: 30px;
}
@media screen and (max-width: 860px) {
  #footer .social-networks {
    grid-area: 2/1/3/2;
  }
}
#footer .footer-logo {
  display: flex;
}
#footer .footer-logo .footer-img {
  width: 10rem;
}
#footer .footer-logo .footer-img img {
  width: 100%;
}
@media screen and (max-width: 860px) {
  #footer .footer-logo {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
  }
}
#footer .location-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.25rem;
}
#footer .location-info .fa-location-dot {
  font-size: 1.25rem;
  color: #fff;
}
#footer .location-info p {
  margin: 0;
  color: #fff;
}
@media screen and (max-width: 860px) {
  #footer .location-info {
    grid-area: 4/1/5/2;
  }
}
#footer .phone-number {
  padding-right: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.25rem;
}
#footer .phone-number .fa-phone {
  font-size: 1.25rem;
  color: #fff;
}
#footer .phone-number p {
  margin: 0;
  color: #fff;
}
@media screen and (max-width: 860px) {
  #footer .phone-number {
    grid-area: 3/1/4/2;
  }
}

.carousel-inner {
  max-height: 33rem;
  max-height: 33.5rem;
}
.carousel-inner .img-fluid {
  max-height: 33rem;
  object-fit: cover;
}

.carousel-control-prev {
  justify-content: start;
}

.carousel-control-next {
  justify-content: end;
}

.conteiner-banner-products {
  width: 100%;
}
.conteiner-banner-products .img-fluid {
  width: 100%;
  height: 100%;
}

.conteiner-tittles {
  background-color: #f5f5f5;
}
.conteiner-tittles .tittles-section {
  font-size: 1.5rem;
  padding: 1.5rem 0 1rem 2rem;
  display: flex;
  gap: 1.25rem;
  background-color: #F5F5F5;
  margin: 0 0 0 3.5rem;
  color: #D2001A;
}
@media screen and (max-width: 900px) {
  .conteiner-tittles .tittles-section {
    padding-left: 1rem;
    margin: 0;
  }
}
.conteiner-tittles .second-tittle {
  background-color: #F5F5F5;
  padding: 1rem 0 2rem 2rem;
  font-size: 2rem;
  margin: 0 0 0 3.5rem;
}
@media screen and (max-width: 900px) {
  .conteiner-tittles .second-tittle {
    padding-left: 1rem;
    margin: 0;
  }
}

#principal-content {
  background-color: #F5F5F5;
  padding-top: 1.5rem;
  padding-left: 3rem;
}
@media screen and (max-width: 900px) {
  #principal-content {
    padding: 0;
  }
}
#principal-content .filler-mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile {
    display: block;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile .filler-tittle {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile .filler-tittle .btn {
    padding: 1rem 2rem;
    width: 55%;
    font-size: 20px;
    border-radius: 0;
    border: none;
    box-shadow: 1px 1px 4px 2px #F3E8FF;
  }
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile #filler-drop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile #filler-drop .phone-brand {
    display: grid;
  }
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile #filler-drop .conteiner-price-filler {
    display: grid;
  }
}
#principal-content .filler-mobile #filler-drop .conteiner-price-filler p a {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile #filler-drop .conteiner-memory-ram {
    display: grid;
  }
}
@media screen and (max-width: 900px) {
  #principal-content .filler-mobile #filler-drop .conteiner-internal-memory {
    display: grid;
  }
}
@media screen and (max-width: 900px) {
  #principal-content .col-2 {
    display: none;
  }
}
#principal-content .col-2 aside {
  grid-area: 1/1/3/2;
  background-color: #F5F5F5;
  padding-right: 0;
  margin-left: 3rem;
  margin: 0;
}
#principal-content .col-2 aside .filler {
  font-size: 1.4rem;
  color: grey;
}
#principal-content .col-2 aside h3 {
  padding-left: 2.5rem;
}
#principal-content .col-2 aside .phone-brand {
  display: grid;
  padding: 0.5rem 0 1rem 2.5rem;
}
#principal-content .col-2 aside .phone-brand .marcas {
  padding: 1rem 0;
}
#principal-content .col-2 aside .phone-brand .conteiner-checkbox {
  padding: 0.3rem 0;
}
#principal-content .col-2 aside .phone-brand .conteiner-checkbox #marcas {
  padding: 1rem 0;
}
#principal-content .col-2 aside .conteiner-price-filler {
  padding: 0.5rem 0 1rem 2.5rem;
  margin: 0;
}
#principal-content .col-2 aside .conteiner-price-filler .price-filler-tittle {
  padding: 1rem 0;
  margin: 0;
}
#principal-content .col-2 aside .conteiner-price-filler .box-filler-price {
  padding: 0.5rem 0;
  margin: 0;
}
#principal-content .col-2 aside .conteiner-price-filler .box-filler-price .price-filler {
  text-decoration: none;
  color: black;
}
#principal-content .col-2 aside .conteiner-memory-ram {
  display: grid;
}
#principal-content .col-2 aside .conteiner-memory-ram .memory-ram {
  padding: 0.5rem 0 1rem 2.5rem;
}
#principal-content .col-2 aside .conteiner-memory-ram .ram {
  padding: 0.3rem 0 0.3rem 2.5rem;
}
#principal-content .col-2 aside .conteiner-internal-memory {
  display: grid;
}
#principal-content .col-2 aside .conteiner-internal-memory .internal-memory {
  padding: 0.5rem 0 1rem 2.5rem;
}
#principal-content .col-2 aside .conteiner-internal-memory .memoria-interna {
  padding: 0.3rem 0 0.3rem 2.5rem;
}
@media screen and (max-width: 900px) {
  #principal-content .col-10 {
    width: 100%;
  }
}

main #all-products .col-10 #products #products-card .circule-peach, main #all-products .col-10 #products #products-card .circule-w, main #all-products .col-10 #products #products-card .circule-sb, main #all-products .col-10 #products #products-card .circule-s, main #all-products .col-10 #products #products-card .circule-blue, main #all-products .col-10 #products #products-card .circule-grey, main #all-products .col-10 #products #products-card .circule-c, main #all-products .col-10 #products #products-card .circule-g, main #all-products .col-10 #products #products-card .circule-y, main #all-products .col-10 #products #products-card .circule-p, main #all-products .col-10 #products #products-card .circule-b, .products #row-index #products-card .circule-b, .products #row-index #products-card .circule-p, .products #row-index #products-card .circule-y, .products #row-index #products-card .circule-g, .products #row-index #products-card .circule-c, .products #row-index #products-card .circule-grey, .products #row-index #products-card .circule-blue, .products #row-index #products-card .circule-s, .products #row-index #products-card .circule-sb, .products #row-index #products-card .circule-w, .products #row-index #products-card .circule-peach {
  padding: 0.8rem;
  margin: 0 0.2rem;
  border: 1px solid grey;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 5px 2px #D8D9CF;
}
main #all-products .col-10 #products #products-card .circule-peach:hover, main #all-products .col-10 #products #products-card .circule-w:hover, main #all-products .col-10 #products #products-card .circule-sb:hover, main #all-products .col-10 #products #products-card .circule-s:hover, main #all-products .col-10 #products #products-card .circule-blue:hover, main #all-products .col-10 #products #products-card .circule-grey:hover, main #all-products .col-10 #products #products-card .circule-c:hover, main #all-products .col-10 #products #products-card .circule-g:hover, main #all-products .col-10 #products #products-card .circule-y:hover, main #all-products .col-10 #products #products-card .circule-p:hover, main #all-products .col-10 #products #products-card .circule-b:hover, .products #row-index #products-card .circule-b:hover, .products #row-index #products-card .circule-p:hover, .products #row-index #products-card .circule-y:hover, .products #row-index #products-card .circule-g:hover, .products #row-index #products-card .circule-c:hover, .products #row-index #products-card .circule-grey:hover, .products #row-index #products-card .circule-blue:hover, .products #row-index #products-card .circule-s:hover, .products #row-index #products-card .circule-sb:hover, .products #row-index #products-card .circule-w:hover, .products #row-index #products-card .circule-peach:hover {
  box-shadow: 0.5px 0.5px 5px 2px black;
}

main {
  background-color: #f5f5f5;
  padding-top: 1.5rem;
  padding-left: 3rem;
}
main #all-products {
  padding: 0;
  gap: 0;
  margin: 0;
}
main #all-products .col-2 {
  padding: 0;
  margin: 0;
}
main #all-products .col-10 {
  padding: 0;
}
main #all-products .col-10 #products {
  padding: 0 1.5rem 0rem 2rem;
  gap: 1rem;
  width: 100%;
  margin: 0;
  justify-content: center;
  background-color: #f5f5f5;
}
main #all-products .col-10 #products #products-card {
  border-radius: 0.6rem;
  width: 19rem;
  padding: 0.6rem 0;
  background-color: #FFFDF9;
  box-shadow: 1px 1px 4px 2px #D8D8D8;
  transition: all 400ms ease;
  display: grid;
  justify-content: center;
}
main #all-products .col-10 #products #products-card:hover {
  box-shadow: 4px 4px 5px 4px #aaadaf;
  transform: translateY(-3px);
}
main #all-products .col-10 #products #products-card figure {
  max-height: 15.4rem;
  max-width: 15rem;
}
main #all-products .col-10 #products #products-card figure .productimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main #all-products .col-10 #products #products-card .price {
  display: flex;
  padding: 0.28rem 0;
  font-size: 1.563rem;
  color: #B22727;
}
main #all-products .col-10 #products #products-card .name {
  display: flex;
  padding: 0;
  font-size: 1.563rem;
}
main #all-products .col-10 #products #products-card .memory {
  display: flex;
  padding: 0.3rem 0;
  font-size: 1.3rem;
}
main #all-products .col-10 #products #products-card .circule-b {
  background-color: #252525;
}
main #all-products .col-10 #products #products-card .circule-p {
  background-color: #FEC8D8;
}
main #all-products .col-10 #products #products-card .circule-y {
  background-color: #F5EA5A;
}
main #all-products .col-10 #products #products-card .circule-g {
  background-color: #3C6255;
}
main #all-products .col-10 #products #products-card .circule-c {
  background-color: #F8EAD8;
}
main #all-products .col-10 #products #products-card .circule-grey {
  background-color: #434242;
}
main #all-products .col-10 #products #products-card .circule-blue {
  background-color: #394867;
}
main #all-products .col-10 #products #products-card .circule-s {
  background-color: #EEEEEE;
}
main #all-products .col-10 #products #products-card .circule-sb {
  background-color: #ECF2FF;
}
main #all-products .col-10 #products #products-card .circule-w {
  background-color: #fff;
}
main #all-products .col-10 #products #products-card .circule-peach {
  background-color: #FFD3B0;
}
main #all-products .col-10 #products #products-card .conteiner-button {
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
}
main #all-products .col-10 #products #products-card .conteiner-button .buy {
  padding: 0.6rem 0.9rem;
  border: 1px solid black;
  border-radius: 0.6rem;
  color: black;
  font-size: 1rem;
  background-color: white;
}
main #all-products .col-10 #products #products-card .conteiner-button .buy:hover {
  background-color: black;
  color: white;
}

#pagination .page-link {
  color: #D2001A;
}
#pagination .page-link:hover {
  background-color: #D2001A;
  color: white;
}

.contact-body {
  background-color: #f5f5f5;
  color: #fff;
  padding: 0 1.5rem;
}
.contact-body .conteiner-form {
  max-width: 73rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1.5rem;
}
.contact-body .conteiner-form .contact-wrapper {
  box-shadow: 0 0 20px 0 #aaadaf;
  display: grid;
  grid-template-columns: 2fr 1fr;
  transition: all 400ms ease;
}
.contact-body .conteiner-form .contact-wrapper:hover {
  transform: translatey(-5px);
}
@media screen and (max-width: 725px) {
  .contact-body .conteiner-form .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 20rem;
  }
}
.contact-body .conteiner-form .contact-wrapper .contact-wrapper > * {
  padding-left: 1rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-form {
  background-color: #222222;
  padding: 1rem;
}
@media screen and (max-width: 725px) {
  .contact-body .conteiner-form .contact-wrapper .contact-form {
    grid-area: 1/1/2/2;
  }
}
.contact-body .conteiner-form .contact-wrapper .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 725px) {
  .contact-body .conteiner-form .contact-wrapper .contact-form form {
    display: flex;
    flex-direction: column;
  }
}
.contact-body .conteiner-form .contact-wrapper .contact-form form p {
  margin: 0;
  padding: 1rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-form form p input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}
.contact-body .conteiner-form .contact-wrapper .contact-form form p button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-form form p button:hover, .contact-body .conteiner-form .contact-wrapper .contact-form form p button:focus {
  background-image: radial-gradient(circle at 120.71% 50%, #ff9300 0, #ff7f1e 12.5%, #ff6a2d 25%, #ff5437 37.5%, #f23c3c 50%, #dc223f 62.5%, #c80042 75%, #b60045 87.5%, #a60049 100%);
  color: #fff;
  transition: background-color 2s ease-out;
  outline: 0;
}
.contact-body .conteiner-form .contact-wrapper .contact-form form p textarea {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}
.contact-body .conteiner-form .contact-wrapper .contact-form form .block {
  grid-column: 1/3;
}
.contact-body .conteiner-form .contact-wrapper .contact-form form label {
  display: block;
}
.contact-body .conteiner-form .contact-wrapper .contact-info {
  background: #454546;
  padding: 1rem 0;
}
@media screen and (max-width: 725px) {
  .contact-body .conteiner-form .contact-wrapper .contact-info {
    grid-area: 2/1/3/2;
  }
}
.contact-body .conteiner-form .contact-wrapper .contact-info h3 {
  font-size: 25px;
  text-align: center;
  padding: 1rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-info p {
  font-size: 20px;
  text-align: center;
  padding: 1rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-info ul {
  text-align: center;
  padding: 1rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-info ul li {
  font-size: 20px;
  list-style: none;
  padding: 1rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-info ul .fa-location-dot {
  padding: 0 0.6rem;
}
.contact-body .conteiner-form .contact-wrapper .contact-info ul .fa-phone {
  padding: 0 0.6rem;
}

.conteiner-new {
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}
.conteiner-new .new-title {
  width: 100%;
}
.conteiner-new .new-title .novedades-tittle {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 3rem 0;
}
.conteiner-new .new-title .novedades-tittle .novedades-span {
  border: 1px solid #181818;
  padding: 1rem 2rem;
  color: #181818;
  border-radius: 5px;
}
.conteiner-new .new {
  width: 45rem;
  color: #1f1f1f;
  display: flex;
  background: #111;
  margin: 2rem 0;
  box-shadow: 0 0 20px 0 #aaadaf;
  position: relative;
  translate: -8rem;
}
.conteiner-new .new .new-text {
  padding: 1.5rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.conteiner-new .new .new-text .new-tittle {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
.conteiner-new .new .new-text .lorem {
  line-height: 23px;
  color: #fff;
  font-size: 18px;
  text-align: justify;
}
.conteiner-new .new .new-image {
  width: 50%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.conteiner-new .new .new-image::before {
  content: "";
  position: absolute;
  left: -6.1rem;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  width: 40%;
  background: #111;
  height: 140%;
  box-shadow: 0 0 20px 0 rgba(225, 225, 225, 0.3);
}
.conteiner-new .new .new-image .new-img {
  width: 140%;
}
.conteiner-new .new-left {
  position: relative;
  translate: 8rem;
}
.conteiner-new .new-left .new-image {
  width: 50%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.conteiner-new .new-left .new-image::before {
  transform: translateY(-50%) rotate(-20deg);
  left: initial;
  right: -6.1rem;
}
.conteiner-new .new-left .new-image .new-img {
  width: 140%;
}
.conteiner-new .new-left .new-text {
  padding: 1.5rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.conteiner-new .new-left .new-text .new-tittle {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
.conteiner-new .new-left .new-text .lorem {
  line-height: 23px;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 750px) {
  .conteiner-new .new {
    display: block;
    width: 20rem;
    translate: none;
  }
  .conteiner-new .new .new-image {
    width: 100%;
  }
  .conteiner-new .new .new-image::before {
    width: 120%;
    height: 40%;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
  }
  .conteiner-new .new .new-image .new-img {
    width: 160%;
  }
  .conteiner-new .new .new-text {
    width: 100%;
  }
  .conteiner-new .new-left {
    translate: none;
  }
  .conteiner-new .new-left .new-image::before {
    transform: translateX(-50%) rotate(-10%);
    top: initial;
    bottom: -5rem;
  }
}

/*.conteiner {
    .row {
        width: 100%;
        background-color: #F5F5F5;
        padding-top: 2rem;
        padding-left: 1rem;

        .col {
            .tittles-section {
                font-size: 1.8rem;

                a {
                    color: black;
                    text-decoration: none;
                    &:hover{
                        color: #D2001A;
                    }
                }
            }
        }
    }
}*/
.conteiner-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.conteiner-slider .slider-body {
  display: flex;
  justify-content: center;
}
.conteiner-slider .slider-body .slider {
  overflow: hidden;
  width: 60vmin;
  height: 60vmin;
}
.conteiner-slider .slider-body .slider li {
  width: 60vmin;
  height: 60vmin;
  position: absolute;
  z-index: 1;
}
.conteiner-slider .slider-body .slider li:target {
  z-index: 3;
  animation: slide 1s 1;
}
.conteiner-slider .slider-body .slider li:not(:target) {
  animation: hidden 1s 1;
}
@keyframes slide {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
.conteiner-slider .slider-body .slider li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.conteiner-slider .slider-body .thumnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.conteiner-slider .slider-body .thumnails li {
  flex: auto;
}
.conteiner-slider .slider-body .thumnails li a {
  display: block;
}
.conteiner-slider .slider-body .thumnails li a img {
  width: 20vmin;
  height: 10vmin;
  object-fit: contain;
}

.one {
  background-color: #F5F5F5;
  padding: 3rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
}
.one .conteiner-card-product {
  background-color: #fff;
  border: 1 px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px #aaadaf;
}
.one .card-title {
  font-size: 1.8rem;
}
.one .card-ram {
  font-size: 1.56rem;
}
.one .card-price {
  font-size: 1.8rem;
  color: #D2001A;
}
.one .card-method {
  font-size: 1.25rem;
}
.one .card-retiro {
  font-size: 1.25rem;
}
.one .table {
  margin-bottom: 0;
}

.specification {
  background-color: #F5F5F5;
  width: 100%;
}
.specification .specification-row {
  width: 100%;
  margin: 0;
}
.specification .specification-row .specification-name {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  font-size: 1.56rem;
}
.specification .specification-row .specification-name .specification-tittle {
  border: 1px solid grey;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  background-color: white;
}

.conteiner-similar {
  background-color: #F5F5F5;
  width: 100%;
  padding: 0;
}
.conteiner-similar .similar {
  display: flex;
  justify-content: center;
  font-size: 1.56rem;
  padding-top: 3rem;
}
.conteiner-similar .similar .similar-span {
  border-bottom: 2px solid #aaadaf;
}
.conteiner-similar .conteiner-product-similar {
  padding: 4rem 1.5rem;
  justify-content: center;
  gap: 4rem;
  margin: 0;
  width: 100%;
}
.conteiner-similar .conteiner-product-similar #similar-products {
  display: grid;
  justify-content: center;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 1px 1px 4px 2px #aaadaf;
  transition: all 400ms ease;
}
.conteiner-similar .conteiner-product-similar #similar-products:hover {
  box-shadow: 4px 4px 5px 4px #aaadaf;
  transform: translateY(-3px);
}
.conteiner-similar .conteiner-product-similar #similar-products figure {
  max-height: 15.4rem;
  max-width: 15rem;
}
.conteiner-similar .conteiner-product-similar #similar-products figure .productimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.conteiner-similar .conteiner-product-similar #similar-products .name-similar {
  font-size: 1.25rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.products #row-index #products-card .circule-b, .products #row-index #products-card .circule-p, .products #row-index #products-card .circule-y, .products #row-index #products-card .circule-g, .products #row-index #products-card .circule-c, .products #row-index #products-card .circule-grey, .products #row-index #products-card .circule-blue, .products #row-index #products-card .circule-s, .products #row-index #products-card .circule-sb, .products #row-index #products-card .circule-w, .products #row-index #products-card .circule-peach, main #all-products .col-10 #products #products-card .circule-b, main #all-products .col-10 #products #products-card .circule-p, main #all-products .col-10 #products #products-card .circule-y, main #all-products .col-10 #products #products-card .circule-g, main #all-products .col-10 #products #products-card .circule-c, main #all-products .col-10 #products #products-card .circule-grey, main #all-products .col-10 #products #products-card .circule-blue, main #all-products .col-10 #products #products-card .circule-s, main #all-products .col-10 #products #products-card .circule-sb, main #all-products .col-10 #products #products-card .circule-w, main #all-products .col-10 #products #products-card .circule-peach {
  padding: 0.8rem;
  margin: 0 0.2rem;
  border: 1px solid grey;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 5px 2px #D8D9CF;
}
.products #row-index #products-card .circule-b:hover, .products #row-index #products-card .circule-p:hover, .products #row-index #products-card .circule-y:hover, .products #row-index #products-card .circule-g:hover, .products #row-index #products-card .circule-c:hover, .products #row-index #products-card .circule-grey:hover, .products #row-index #products-card .circule-blue:hover, .products #row-index #products-card .circule-s:hover, .products #row-index #products-card .circule-sb:hover, .products #row-index #products-card .circule-w:hover, .products #row-index #products-card .circule-peach:hover, main #all-products .col-10 #products #products-card .circule-b:hover, main #all-products .col-10 #products #products-card .circule-p:hover, main #all-products .col-10 #products #products-card .circule-y:hover, main #all-products .col-10 #products #products-card .circule-g:hover, main #all-products .col-10 #products #products-card .circule-c:hover, main #all-products .col-10 #products #products-card .circule-grey:hover, main #all-products .col-10 #products #products-card .circule-blue:hover, main #all-products .col-10 #products #products-card .circule-s:hover, main #all-products .col-10 #products #products-card .circule-sb:hover, main #all-products .col-10 #products #products-card .circule-w:hover, main #all-products .col-10 #products #products-card .circule-peach:hover {
  box-shadow: 0.5px 0.5px 5px 2px black;
}

/*# sourceMappingURL=style.css.map */
