.carousel-inner {
    max-height: 33rem;
    height: 33.5rem;

    .img-fluid {
        
        max-height: 33rem;
        object-fit: cover;
    }
}

.carousel-control-prev {
    justify-content: start;
}

.carousel-control-next {
    justify-content: end;
}