main{
    background-color: #F5F5F5;
    .filler-mobile{
        display: none;
    }
    aside {
        grid-area: 1 / 1 / 3 / 2;
        background-color: #F5F5F5;
        padding-right: 0;
        margin-left: 3rem;
        margin: 0;
    
        .filler {
            font-size: 1.4rem;
            color: grey;
        }
    
        h3 {
            padding-left: 2.5rem;
        }
    
        .phone-brand {
            display: grid;
            padding: 0.5rem 0 1rem 2.5rem;
    
            .marcas {
                padding: 1rem 0;
            }
    
            .conteiner-checkbox {
                padding: 0.3rem 0;
    
                #marcas {
                    padding: 1rem 0;
                }
            }
        }
    
        .conteiner-price-filler {
            padding: 0.5rem 0 1rem 2.5rem;
            margin: 0;
    
            .price-filler-tittle {
                padding: 1rem 0;
                margin: 0;
            }
    
            .box-filler-price {
                padding: 0.5rem 0;
                margin: 0;
    
                .price-filler {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    
        .conteiner-memory-ram {
            display: grid;
    
            .memory-ram{
                
                padding: 0.5rem 0 1rem 2.5rem;
    
            }
            .ram{
                padding: 0.3rem 0 0.3rem 2.5rem;
            }
        }
    
        .conteiner-internal-memory {
            display: grid;
    
            .internal-memory {
                
                padding: 0.5rem 0 1rem 2.5rem;
            }
            .memoria-interna {
                padding: 0.3rem 0 0.3rem 2.5rem;
            }
        }
    }
    @media screen and (max-width:900px) {
        .tittles-section {
            padding-left: 1rem;
            margin: 0;
        }
    
        .second-tittle {
            padding-left: 1rem;
            margin: 0;
        }
    
        .col-2 {
            display: none;
        }
    
        .filler-mobile {
            display: block;
            padding-bottom: 2rem;
        }
    
        .filler-tittle {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    
        .btn {
            padding: 1rem 2rem;
            width: 55%;
            font-size: 20px;
            border-radius: 0;
            border: none;
            box-shadow: 1px 1px 4px 2px #F3E8FF;
        }
    
    
        #filler-drop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    
        .col-10 {
            width: 100%;
        }
    
        #principal-content {
            padding: 0;
        }
    }
}