header {
    nav {
        .conteiner-fluid {
            .navbar-brand {
                width: 10rem;
                .logo {
                    width: 100%;
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    font-size: 1.2rem;
                    gap: 1.1rem;

                    li {
                        .nav-link {
                            color: black;
                        }
                    }
                }

                form {
                    .form-control:hover {
                        box-shadow: none;
                    }
                }
            }

            .shoppingcar {
                height: 2rem;
                width: 2rem;
            }
        }

    }
}