%button-products{
    padding: 0.8rem;
    margin: 0 0.2rem;
    border: 1px solid grey;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 5px 2px #D8D9CF;
    &:hover{
        box-shadow: 0.5px 0.5px 5px 2px black;
    }
}




