@import '../base/mixins';

#principal-content {
    background-color: #F5F5F5;
    padding-top: 1.5rem;
    padding-left: 3rem;


    @include large {
        padding: 0;
    }

    .filler-mobile {
        display: none;

        @include large {
            display: block;
            padding-bottom: 2rem;
        }

        .filler-tittle {
            @include large {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .btn {
                @include large {
                    padding: 1rem 2rem;
                    width: 55%;
                    font-size: 20px;
                    border-radius: 0;
                    border: none;
                    box-shadow: none;
                    box-shadow: 1px 1px 4px 2px #D8D8D8;
                }

            }
        }


        #filler-drop {
            @include large {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            .phone-brand {
                @include large {
                    display: grid;
                }

                .marcas {
                    font-size: 20px;
                    margin-bottom: 0;
                }

                label {
                    input {
                        margin-right: 0.3rem;
                    }
                }
            }

            .conteiner-price-filler {
                @include large {
                    display: grid;
                }

                .price-filler-tittle {
                    font-size: 20px;
                }
            }

            .conteiner-memory-ram {
                @include large {
                    display: grid;
                }

                p {
                    font-size: 20px;
                }

                label {
                    margin-bottom: 0.5rem;

                    input {
                        margin-right: 0.3rem;
                    }
                }

            }

            .conteiner-internal-memory {
                @include large {
                    display: grid;
                }

                p {
                    font-size: 20px;
                }

                label {
                    margin-bottom: 0.5rem;

                    input {
                        margin-right: 0.3rem;
                    }

                }

            }
        }

    }



}


.col-2 {
    @include large {
        display: none;
    }

    aside {
        grid-area: 1 / 1 / 3 / 2;
        background-color: #F5F5F5;
        padding-right: 0;
        margin-left: 3rem;
        margin: 0;

        .filler {
            font-size: 1.4rem;
            color: grey;
        }

        h3 {
            padding-left: 2.5rem;
        }

        .phone-brand {
            display: grid;
            padding: 0.5rem 0 1rem 2.5rem;

            .marcas {
                font-size: 20px;
                padding: 1rem 0;
                margin: 0;
            }

            .conteiner-checkbox {
                padding: 0.3rem 0;

                input {
                    margin-right: 0.3rem;
                }
            }

        }

        .conteiner-price-filler {
            padding: 0.5rem 0 1rem 2.5rem;

            .price-filler-tittle {
                font-size: 20px;
                padding: 1rem 0;
                margin: 0;
            }

            .box-filler-price {
                padding: 0.5rem 0;
                margin: 0;

                .price-filler {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .conteiner-memory-ram {
            display: grid;


            .memory-ram {
                font-size: 20px;
                padding: 0.5rem 0 1rem 2.5rem;
            }

            .ram {
                padding: 0.3rem 0 0.3rem 2.5rem;

                input {
                    margin-right: 0.3rem;
                }
            }
        }

        .conteiner-internal-memory {
            display: grid;


            .internal-memory {
                font-size: 20px;
                padding: 0.5rem 0 1rem 2.5rem;
            }

            .memoria-interna {
                padding: 0.3rem 0 0.3rem 2.5rem;

                input {
                    margin-right: 0.3rem;
                }
            }
        }
    }
}

.col-10 {
    @include large {
        width: 100%;
    }

}