@import '../base/mixins';

header {

    .navbar-brand {
        width: 8rem;

        .logo {
            width: 8rem;
            height: 100%;
            object-fit: cover
        }
    }

    .navbar-collapse {
        @include large {
            display: grid;
        }

        .navbar-toggler {
            border: none;

            &:focus {
                box-shadow: none;
            }

            .fa-bars {
                font-size: 25px;
            }
        }

        .navbar-nav {
            font-size: 1.2rem;
            gap: 1.1rem;
            width: 100%;

            .nav-item {
                .nav-link {
                    color: #fff;
                    position: relative;

                    &::after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        background-color: #d63031;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border-top: none;
                        margin-left: 0;
                        opacity: 0;
                        transition: all 0.3s;
                    }

                    &:hover::after {
                        opacity: 1;
                    }
                }
            }

            .dropdown {
                .dropdown-menu {
                    background-color: #181818;

                    @include large {
                        border: none;
                    }

                    li {
                        a {
                            color: #fff;
                            position: relative;

                            &::after {
                                content: '';
                                height: 2px;
                                width: 100%;
                                background-color: #d63031;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                border-top: none;
                                margin-left: 0;
                                opacity: 0;
                                transition: all 0.3s;
                            }

                            &:hover::after {
                                opacity: 1;
                            }

                            &:hover {
                                background-color: #181818;
                            }
                        }
                    }
                }
            }
        }

        form {
            padding-right: 1rem;

            @include large {
                padding: 0;
                grid-area: 2 / 1 / 3 / 2;
            }

            .form-control {
                height: 2rem;
                &:focus {
                    box-shadow: none;
                    border: none;
                }
            }

            .btn {
                font-size: 20px;
                padding: 0;
            }
        }

        .shoppingcar {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            color: #fff;

            @include large {
                padding: 0;
                grid-area: 2 / 2 / 3 / 3;
                justify-content: end;
            }
        }
    }


}