.conteiner-new {
    background-color: #f5f5f5;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;

    .new-title {
        width: 100%;

        .novedades-tittle {
            display: flex;
            justify-content: center;
            padding: 2rem 0 3rem 0;

            .novedades-span {
                border: 1px solid white;
                background-color: white;
                padding: 1rem 2rem;
                border-radius: 10px;
            }

        }
    }

    .new {
        width: 45rem;
        color: #1f1f1f;
        display: flex;
        background: #111;
        margin: 2rem 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

        .new-text {
            padding: 1.5rem;
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;

            .new-tittle {
                margin: 0;
                padding: 0.5rem 0;
                font-size: 25px;
                color: #fff;
                font-weight: bold;
            }

            .lorem {
                line-height: 23px;
                color: #fff;
                font-size: 18px;
            }

        }

        .new-image {
            width: 50%;
            height: 17rem;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                left: -6.1rem;
                top: 50%;
                transform: translateY(-50%) rotate(20deg);
                width: 40%;
                background: #111;
                height: 140%;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            }

            .new-img {
                width: 140%;
            }
        }
    }

    .new-left {
        .new-image {
            width: 50%;
            height: 17rem;
            position: relative;
            overflow: hidden;

            &::before {
                transform: translateY(-50%) rotate(-20deg);
                left: initial;
                right: -6.1rem;
            }

            .new-img {
                width: 140%;
            }
        }

        .new-text {
            padding: 1.5rem;
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;

            .new-tittle {
                margin: 0;
                padding: 0.5rem 0;
                font-size: 25px;
                color: #fff;
                font-weight: bold;
            }

            .lorem {
                line-height: 23px;
                color: #fff;
                font-size: 18px;
            }
        }
    }

    @media screen and (max-width:750px) {


        .new {
            display: block;
            width: 20rem;

            .new-image {
                width: 100%;

                &::before {
                    width: 120%;
                    height: 40%;
                    top: -5rem;
                    left: 50%;
                    transform: translateX(-50%) rotate(10deg);
                }

                .new-img {
                    width: 160%;
                }
            }

            .new-text {
                width: 100%;
            }

        }
        .new-left {
            .new-image {
                &::before {
                    transform: translateX(-50%) rotate(-10%);
                    top: initial;
                    bottom: -5rem;
                }
            }

        }

    }
}